<a href="https://colab.research.google.com/github/MaryJoyceCayetano/PLNG211-2-OLFU-QC/blob/main/Asynchronus_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables and Data Types

Number

In [15]:
varNun = 123
pi = 3.14159

String

In [ ]:
varString = "Hello World"
varText = 'This is a String'

Lists

In [ ]:
varList = ["abc", 123]

Tuples

In [ ]:
varTuple = ('abc', 123, "HELLO")

Dictionaries

In [ ]:
var = 3
varDict = { 'first': 1, '2': '2nd', 3:var}

Arithmetic Operators

In [22]:
from posixpath import join
a = 5 + 3  # Addition
b = 5 - 3  # Subtraction
c = 5 * 3  # Multiplication 
d = 5 ** 3 # Exponent
e = 5 / 3  # Division
f = 5 % 3  # Modulo 
g = 5 // 3 # floor division

h = 5  
h += 1     # Increment

i = 5      # Decrement
i -= 1

j = 'Hello ' +  'World'  # String Concatenation

k = 3 + 5 - 6 * 2 / 4 

print("a = ",a)
print("b = ",b)
print("c = ",c)
print("d = ",d)
print("e = ",e)
print("f = ",f)
print("g = ",g)
print("h = ",h)
print("i = ",i)
print("j = ",j)
print("k = ",k)

a =  8
b =  2
c =  15
d =  125
e =  1.6666666666666667
f =  2
g =  1
h =  6
i =  4
j =  Hello World
k =  5.0

LOOPS

In [5]:
for var in range (5):
  print(var)

0
1
2
3
4

In [8]:
for var in range (0,6+1,2):
  print(var)

0
2
4
6

While Loops

In [9]:
var = 0 
while var < 5:
  print(var)
  var += 2

0
2
4

Nested Loops

In [ ]:
x = 0
while x < 5:
  for y in range (0,x):
    print(y, end=' ')

Slicing

In [10]:
varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[2:9:2])

[3, 5, 7, 9]

Activity

In [11]:
var1,var2,var3 = "ABC","DEF","GHI"
print(var1)
print(var2)
print(var3)

a =  b = c = "123"
print(a) 
print(b)
print(c)

ABC
DEF
GHI
123
123
123

Asynchronus Activity

In [14]:
# Given the following Values:
Salary_rate = 600    # 600 per day
Salary = Salary_rate * 15
Taxable_amount =  (30*Salary)/100  # 30% of the Salary
Net_pay=Salary-Taxable_amount

print("My Salary per day: ", Salary_rate)
print("My Salary in 15 days: ", Salary)
print("My Taxable Amount: ", Taxable_amount)
print("My Net Pay: ", Net_pay)

My Salary per day:  600
My Salary in 15 days:  9000
My Taxable Amount:  2700.0
My Net Pay:  6300.0