<a href="https://colab.research.google.com/github/MaryJoyceCayetano/PLNG211-2-OLFU-QC/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comment

In [ ]:
# This is a comment
print("Hello, word")

Hello, word

Python Variable

In [ ]:
x = 1
a = 0 
b = -1


a,b = 0, -1
a,b,c, = 0,-1,2

# This is a Type of string
d,f= "Mary","Joyce" 
e = "Mary Joyce Cayetano"

print(a) 
print(b)
print(c)
print(x)
print(d)
print(f)
print(e)

0
-1
2
1
Mary
Joyce
Mary Joyce Cayetano

In [ ]:
#Single variable
a = float(10)
b = -1

#multiple variables
a,b = float(8),-1


#string type

c = "Ela"

In [ ]:
print(a)

#string type

c = str("Ela")
c

print(c)
print(c)
print(c)

8.0
Ela
Ela
Ela

Type () fuction

In [3]:
c = str("Ela")
print(type(c))

<class 'str'>

In [10]:
#Proper Indentation

if 5>2:
  print("5 is greater than 1")

if 7>2:
  print("7 is greater than 5")

5 is greater than 1
7 is greater than 5

Single and double Qoute

In [13]:
a = "Mary Joyce"
b = 'Alfonso Cayetano'

print(a)
print(b)

Mary Joyce
Alfonso Cayetano

Multiple Variables

In [14]:
m,j,a,c = 10,11,25,26

print(m)
print(j)
print(a)
print(c)

10
11
25
26

Single Values to Multiple Variable

In [17]:
m=j=a=c="Mary Joyce Alfonso Cayetano"

print(m)
print(j)
print(a)
print(c)

Mary Joyce Alfonso Cayetano
Mary Joyce Alfonso Cayetano
Mary Joyce Alfonso Cayetano
Mary Joyce Alfonso Cayetano

Output Variables

In [22]:
h = "BSCS"
i = " 2-YA-2"
j = " PLNG211"

print(h+i+j)
print("Im Mary Joyce Cayetano "+h+i+j+ " Student")

BSCS 2-YA-2 PLNG211
Im Mary Joyce Cayetano BSCS 2-YA-2 PLNG211 Student

Arithmetic Operations

In [27]:
a = 20 + 25 + 26
b = 4 - 6
c = 3 * 6
d = 4 / 2
e = 4 % 5
f = 61 ** 3
g = 26 // 50

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

71
-2
18
2.0
4
226981
0

Assignment Operators

In [28]:
h = 13
i = 12

h += 13  # h = h + 13   h = 13 + 13
i += 12  # i = i + 12   i = 12 + 12

print(h)
print(i)

26
24

Comparison Operators

In [47]:
j = 75 > 5   # True
k = 100 < 10 # False
mj = 200 > 100 # True

print(j)
print(k)
print(mj)

not( j or k or mj )

True
False
True

False

Identity Operators

In [51]:
'mj' is not 'jm'

True

In [52]:
"Mary" is not "Mary"

False

Bitwise Operators

In [55]:
l = 20
l << 2

m = 2
m >> 1

1